@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #FFFFFF;
}

.menu-mypage{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 20px;
}

.menu-mypage:hover{
    cursor: pointer;
}

.menu-background{
    display: flex;
    margin: -10px;
    justify-content: flex-start;
    background-color: #F6F6F6;
    width: 100%;
    padding-right: 18px;
    height: 75px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.menu-img{
    width: 8%;
    height: 10.5%;
    margin-top: -70px;
}

.menu-img:hover{
    cursor: pointer;
}

.logo {
    height: 40px;
}

.nav-links span {
    font-size: 18px;
    font-weight: bold;
}

.logout-btn {
    margin-right: 20px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.admin-section {
    margin: 50px auto;
    max-width: 800px;
    background-color: #FFFFFF;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.admin-form label{
    font-family: 'Pretendard-Regular';
}

.admin-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], textarea {
    font-size: 16px;
    padding: 15px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    background-color: #F7F7F7;
    outline: none;
}

textarea {
    height: 150px;
    resize: none;
}
.image-preview {
    margin-top: 10px;
    height: 150px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#image-display {
    max-width: 100%;
    max-height: 100%;
}
