@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}

body{
    background-color: #FFFFFF;
}

.menu-mypage{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 90px;
}

.menu-mypage:hover{
    cursor: pointer;
}


.menu-background{
    display: flex;
    margin: -10px;
    justify-content: flex-start; 
    background-color: #F6F6F6;
    width: 100%;
    padding-right: 18px;
    height: 75px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.menu-img{
    width: 8%;
    height: 10.5%;
    margin-top: -70px;
}

.menu-img:hover{
    cursor: pointer;
}

.menu-login{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 20px;
}

.menu-login:hover{
    cursor: pointer;
}

.category-title{
    margin-left: 40px;
    margin-top: 50px;
}

.horizontal-bar {
    height: 0.5px;
    background-color: black;
    border: none;
}

.question-table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: 'Pretendard-Regular';
}

.question-row {
    display: flex;
    align-items: center;
    border: 1px solid #aeaeae;
    padding: 15px;
    margin: 10px 0;
    justify-content: space-between;
    margin-top: 25px;
}

.question-row:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out; 
}

.question-number {
    width: 8%;
    text-align: center;
    font-weight: bold;
}

.question-title {
    width: 80%;
    padding-left: 10px;
}

.question-status {
    width: 8%;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 50px;
}

.correct {
    background-color: #32cd32;
    color: white;
}

.pending {
    background-color: #d3d3d3;
    color: black;
}

.wrong {
    background-color: #ff4d4d;
    color: white;
}
