@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}

body{
    background-color: #FFFFFF;
}

.menu-mypage{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 90px;
}

.menu-mypage:hover{
    cursor: pointer;
}
/*  */

.menu-background{
    display: flex;
    margin: -10px;
    justify-content: flex-start;
    background-color: #F6F6F6;
    width: 100%;
    padding-right: 18px;
    height: 75px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.menu-img{
    width: 8%;
    height: 10.5%;
    margin-top: -70px;
}

.menu-img:hover{
    cursor: pointer;
}

.menu-login{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 20px;
}

.menu-login:hover{
    cursor: pointer;
}

.text-top{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
    justify-content: space-between; 
    width: 60%; 
}

.text-category{
    display: flex;
    margin-top: 30px;

    margin-left: 50px;

    font-family: "Pretendard-Regular";
    font-size: 38px;
    color: #050505;
}   

.text-problem{
    display: flex;
    margin-top: 30px;
    font-family: "Pretendard-Regular";
    font-size: 38px;
    color: #050505;
}

.text{
    font-family: "Pretendard-Regular";
    font-size: 38px;
    color: #050505;
}

.horizontal-bar {
    height: 1px;
    background-color: black;
    border: none;
}

.vertical-bar {
    width: 1px;
    height: 600px; 
    position: absolute;
    top: 250px; 
    left: 46.5%;
    background-color: black;
}

.category-grid{
    display: grid;
    width: 40%;
    height: 10%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0px;
    grid-template-columns: repeat(2, 1fr);
    float: left;
}

.category-text {
    border-radius: 5px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: "Pretendard-Regular";
    font-size: 20px;
    color: #050505;
}

.category-text:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out; 
}

.problem-recom-container {
    display: flex;
    flex-direction: column;
    margin-left: 48%;
    padding: 0 20px;
}


.problem-recom-easy{
    margin-top: 30px;
}

.problem-recom-hard {
    margin-top: 100px;
}

.problem-recom-title {
    font-family: "Pretendard-Bold";
    font-size: 28px;
    margin-bottom: 10px;
}

.problem-recom-box {
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 50px;
    background-color: #cbcbcb;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.problem-recom-box:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 1);
    transition: 0.5s ease-in-out; 
}

.problem-title {
    font-family: "Pretendard-SemiBold";
    font-size: 20px;
    margin-bottom: 5px;
}

.problem-description {
    font-family: "Pretendard-Regular";
    font-size: 16px;
    color: #333;
}
