@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}

body{
    background-color: #FFFFFF;
}

.container{
    position: relative;
}

.text-top{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20px;
    justify-content: space-between; /* 이 줄을 추가했습니다 */
    width: 70%; /* 전체 너비를 차지하도록 설정 */
}

.text-category{
    display: flex;
    margin-top: 30px;

    margin-left: 120px;

    font-family: "Pretendard-Regular";
    font-size: 38px;
    color: #050505;
}   

.text-problem{
    display: flex;
    margin-top: 30px;

    font-family: "Pretendard-Regular";
    font-size: 38px;
    color: #050505;
}

.text{
    font-family: "Pretendard-Regular";
    font-size: 38px;
    color: #050505;
}

.horizontal-bar{
    /* width: 800px; */
    height: 1px;
    background-color: black;
    border: none;
}

.vertical-bar{
    width: 1px;
    height: 75%;
    margin-left: 45%;
    background-color: black;
    border: none;
}

.category-grid{
    display: grid;
    width: 50%;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    grid-template-columns: repeat(2, 1fr);
    float: left;

}

.category-text {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 5%;
}