@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #FFFFFF;
}



.menu-background{
    display: flex;
    margin: -10px;
    justify-content: flex-start;
    background-color: #F6F6F6;
    width: 100%;
    padding-right: 18px;
    height: 75px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.menu-img{
    width: 8%;
    height: 8%;
    margin-top: -70px;
}

.menu-img:hover{
    cursor: pointer;
}

.menu-login{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 20px;
}

.menu-login:hover{
    cursor: pointer;
}

.menu-mypage{
    font-family: 'Pretendard-Regular';
    float: right;
    opacity: 50%;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 90px;
}

.menu-mypage:hover{
    cursor: pointer;
}

.text-main{
    font-family: "Pretendard-Bold";
    font-size: 40px;
    margin-left: 100px;
    margin-top: 120px;
    line-height: 30px;
}

.start-btn{
    font-family: "Pretendard-bold";
    font-size: 38px;
    width: 250px;
    height: 90px;
    margin-left: 100px;
    margin-top: 390px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

.start-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease-in-out; 
}

.img{
    width: 750px;
    height: 750px;
    float: right;
    margin-top: -720px;
    margin-right: 80px;
}