<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo - 문제 페이지</title>
    <link href="../../static/css/category.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/category.js"></script>
</head>
<body>
    
    <!-- <h1 id="category-title"></h1> --> 
    <!-- 클릭시 여기에 클릭 한걸 보이게  -->

    <!--Menu Bar-->
    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='../../templates/blog/home.html'" src="../../static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
        <h1 class="menu-login" onclick="location.href='../../templates/auth/login.html'">로그인</h1>
        <h1 class="menu-mypage" onclick="location.href='../auth/mypage.html'">마이페이지</h1>
        <!--css나 이미지에는 ../../로 경로로 지정해주자-->
    </nav>

    <div class="container">
        
        <h1 id="category-title" class="category-title">카테고리</h1>

        <hr class="horizontal-bar">

        <div class="question-table">
            <div class="question-row">
                <div class="question-number">#0000</div>
                <div class="question-title">철수와 영희의 달리기</div>
                <div class="question-status correct">정답</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0001</div>
                <div class="question-title">초콜릿과 사탕</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0002</div>
                <div class="question-title">뽀삐의 산책</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0003</div>
                <div class="question-title">철수와 영희의 소금물</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0004</div>
                <div class="question-title">이걸 틀리냐ㅋㅋ</div>
                <div class="question-status wrong">오답</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0005</div>
                <div class="question-title">M군의 리잠</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0006</div>
                <div class="question-title">철수의 달력은 또 찢어졌다..</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0007</div>
                <div class="question-title">몰루?</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0008</div>
                <div class="question-title">철수의 달력은 또 찢어졌다..</div>
                <div class="question-status pending">미해결</div>
            </div>
            <div class="question-row">
                <div class="question-number">#0009</div>
                <div class="question-title">철수의 달력은 또 찢어졌다..</div>
                <div class="question-status pending">미해결</div>
            </div>
        </div>
        

    </div>

</body>
</html>
