<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo - 문제 페이지</title>
    <link href="../../static/css/category.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/category.js"></script>
</head>
<body>
    
    <!-- <h1 id="category-title"></h1> --> 
    <!-- 클릭시 여기에 클릭 한걸 보이게  -->

    <!--Menu Bar-->
    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='../../templates/blog/home.html'" src="../../static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
        <h1 class="menu-login" onclick="location.href='../../templates/auth/login.html'">로그인</h1>
        <!--css나 이미지에는 ../../로 경로로 지정해주자-->
    </nav>

    <div class="container">

        
    </div>

</body>
</html>
