<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo | Home/메인</title>
    <link href="/static/css/home.css" rel="stylesheet">
</head>
<body>
    
    <!--Menu Bar-->
    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='home.html'" src="/static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
    </nav

    <div class="container">
        <div class="text-top">
            <h1 class="text-category">카테고리</h1>
            <h1 class="text-problem">오늘의 문제</h1>
        </div>    

        <hr class="horizontal-bar">

        <div class="category-grid">
            <div class="category-text" onclick = alert() >#사칙연산</div>
            <div class="category-text" onclick = alert() >#중등</div>
            <div class="category-text" onclick = alert() >#수(상)</div>
            <div class="category-text" onclick = alert() >#수(하)</div>
            <div class="category-text" onclick = alert() >#수1</div>
            <div class="category-text" onclick = alert() >#수2</div>
            <div class="category-text" onclick = alert() >#미분</div>
            <div class="category-text" onclick = alert() >#적분</div>
            <div class="category-text" onclick = alert() >#모고 3점</div>
            <div class="category-text" onclick = alert() >#모고 4점</div>
            <div class="category-text" onclick = alert() >#킬러</div>
            <div class="category-text" onclick = alert() >#사용자 자작</div>
        </div>

        <hr class="vertical-bar">

    </div>

</body>