<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo | Join/회원가입</title>
    <link href="../../static/css/join.css" rel="stylesheet">
</head>
<body>
    <!--Menu Bar-->
    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='/templates/blog/home.html'" src="../../static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
        <h1 class="menu-login" onclick="location.href='/templates/auth/login.html'">로그인</h1>
        <!--css나 이미지에는 ../../로 경로로 지정해주자-->
    </nav>

    <h1 class="main-text">
        회원가입
    </h1>

    <hr class="horizontal-bar">

    <div class="container">
    
        <div>

            <div>
                <h1 class="text">
                    아이디
                </h1>
            
                <input type="text" class="input" placeholder="ID 입력 (6~20)">
            </div>
    
            <div>
                <h1 class="text">
                    비밀번호 입력
                </h1>
                
                <input type="password" class="input" placeholder="PW를 입력하세요">
            </div>

        </div>
        
        <div>
            <h1 class="text">
                비밀번호 확인
            </h1>
        
            <input type="password" class="input" placeholder="PW를 입력하세요">
        </div>

        <div>
            <button class="check" onclick='alert("입력")'>회원 가입</button>
        </div>

    </div>

</body>
</html>