<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo | Join/회원가입</title>
    <link href="join.css" rel="stylesheet">
</head>
<body>
    <!--Menu Bar-->
    <div>
        <div class="menu-background" style="position: relative; margin: -10px;background-color: #F6F6F6; width: 100%; padding-right: 18px; height: 75px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);"></div>
    </div>

    <h1 class="main-text">
        회원가입
    </h1>

    <hr class="horizontal-bar">

    <div class="container">
    
        <div>

            <div>
                <h1 class="text">
                    아이디
                </h1>
            
                <input type="text" class="input" placeholder="ID 입력 (6~20)">
            </div>
    
            <div>
                <h1 class="text">
                    비밀번호 입력
                </h1>
                
                <input type="password" class="input" placeholder="PW를 입력하세요">
            </div>

        </div>
        
        <div>
            <h1 class="text">
                비밀번호 확인
            </h1>
        
            <input type="password" class="input" placeholder="PW를 입력하세요">
        </div>

        <div>
            <button class="check" onclick='alert("입력")'>회원 가입</button>
        </div>

    </div>

</body>
</html>