<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo - 내 정보</title>
    <link rel="stylesheet" href="../../static/css/mypage.css">
</head>
<body>

    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='../../templates/blog/home.html'" src="../../static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
    </nav>

    <section class="profile-section">
        <div class="profile-header">
            <div class="profile-info">
                <h1>Harpoon00</h1>
            </div>
        </div>

        <div class="profile-stats">
            <div class="stats-item">
                <h2>맞힌 문제</h2>
                <p>135</p>
            </div>
            <div class="stats-item">
                <h2>틀린 문제</h2>
                <p>24</p>
            </div>
            <div class="stats-item">
                <h2>내 점수</h2>
                <p>162,534</p>
            </div>
            <div class="stats-item">
                <h2>내 랭킹</h2>
                <p>123</p>
            </div>
        </div>

        <div class="ranking-table">
            <table>
                <thead>
                    <tr>
                        <th>랭킹</th>
                        <th>유저명</th>
                        <th>점수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>120</td>
                        <td>minji01</td>
                        <td>173,456</td>
                    </tr>
                    <tr>
                        <td>121</td>
                        <td>ihatedimigo</td>
                        <td>171,098</td>
                    </tr>
                    <tr>
                        <td>122</td>
                        <td>minhye08</td>
                        <td>165,359</td>
                    </tr>
                    <tr class="highlighted">
                        <td>123</td>
                        <td>Harpoon00</td>
                        <td>162,534</td>
                    </tr>
                    <tr>
                        <td>124</td>
                        <td>harpoonslave</td>
                        <td>159,341</td>
                    </tr>
                    <tr>
                        <td>125</td>
                        <td>newjeanss</td>
                        <td>146,984</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>
